/*Stylesheet for Agile Institute Pages*/



/******* Layout Elements ********/
div.purple {
    background: rgba(120,1,208,.8);
    color:#fff;
    text-align:left;
}

div.row {
    margin:0;
}

div#container {
    overflow-y: scroll;
    background-image: url(sys_attachment.do?sys_id=dc6737f31bf0e8105c42ea41f54bcba6);
    background-size: cover;
    background-repeat: repeat;
    background-color: #000;
    background-attachment: fixed;
    background-position: left top;
}
 #container div.row {
    width: 100%;
    max-width: 100%;
    text-align: left;
    border-left: 0;
    border-right: 0;
    padding: 30px 0 30px 0;
    margin:0;
    border-bottom:5px solid #ffffff;


}
div.teal {
    background: rgba(2,254,255,.8);
    color:#333;
    }

 div.black {
    background: rgba(0,0,0,.7);
    color:#00f3ff;
    text-align:left;
}

div.content {
    width:1200px;
    margin:0 auto;

}
div#container div#ai-home{
    padding-top:90px;
}
 div.column {
    width:50%;
    float:left;
    padding:25px;

}

.content:after {
  content: "";
  display: table;
  clear: both;
}
 .grid-container{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: (200px, auto);
    justify-items: stretch;
    margin-top:25px;
}
 .grid-item{
  background-color: rgba(255, 255, 255, 0.9);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
  border-radius:7px;
  position:relative;
}
 .contact-grid-container{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: stretch;
    margin-top:25px;
    color: #0A0312;
}


 .contact-grid-item{
  border: 0px solid rgba(0, 0, 0, 0.8);
  text-align: left;
  position:relative;
  font-size: 140%;
}

 div.teal .grid-item{
    background-color:#000;
    color:#fff;
}

 .clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/******** Link Styling* ********/

a{
    color:#7801D0;
}
a:hover{
    color:#7801D0;
    text-decoration: underline;
}

div.black a{
    color:#7801D0;
}

div.more{
    position:absolute;
    bottom:20px;
    right:20px;
}

div.more a {
    display: block;
    background: rgba(120,1,208,1);
    font-size: 45%;
    text-align: center;
    text-transform: uppercase;
    padding: 7px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    box-shadow: 5px 5px #d3d3d3;
    color:#fff;
    margin-top:10px;

}
 div.more a:hover {
    background: #333;

}

div.teal div.more a {
    background: rgb(2,254,255);    
    color:#000;

}
div.teal div.more a:hover {
    background: rgba(2,254,255,.7);


}

div.purple div.more-alone a{
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 120%;
    text-align: center;
    text-transform: uppercase;
    padding: 7px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    box-shadow: 5px 5px #0A0313;
    color:#7801D0;
    margin-top:10px;
    width: 250px;

}

div.purple div.more-alone a:hover {
    background-color: #7801D0;
    color: #fff;


}


a.learn {
    font-size: 120%;
    text-decoration: none;
    font-weight:bold;


}

a.learn::before  {
  content: "✅ ";
}
 #container .teal .content .grid-item h2 a{
    color:#08FDFF;
}

/********* Text Elements ***********/


div#container div.row div.content h2{
    color:#fff;
    font-size:180%;
    font-family: 'Roboto', sans-serif;
   font-weight:bold;
   margin:0;

 }
div.black ul{
    color:#fff;
    font-size:130%;
   

 }
 div.black ul li ul{
    font-size:100%;
 }
div.black li{
    margin-bottom:15px;
 }
div.black li ul li{
    margin-bottom:0;
 }


p{
    font-family: 'Roboto', sans-serif;

}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size:300%;
    color:#fff;
    margin-bottom:20px;
    text-align:center;

}
 h2{
    font-family: 'Raleway', sans-serif;
    color:#000;
    font-size:300%;

}
h3{
    font-family: 'Raleway', sans-serif;
    color:#000;
    font-size:200%;

}
div#container div.nav h1.page-title{
    float:left;
    color:#fff;
    display:block;
    width:250px;
    margin:0;
    padding:0;
}

h1.section-title{
   text-align:left;
   margin:0;
   font-size:250%;
}

div.teal h1.section-title{
    color:#333;
}

div.hero-img h2{

   position: absolute; 
   top: 50px; 
   right: 0; 
   color:#fff;
   font-size:180%;
   display: block;
   width:500px;
   padding:25px;
   background: rgba(0,0,0,.4);
   line-height:35px;
}
 #container .row .teal .content .grid-item h2{
    font-size:80%;
    margin:0;
    color:#08FDFF;
}
 div#container div.row .contact-grid-container div.contact-grid-item h2{
    text-align: center;
    color: #0A0312;
    font-size: 140%;
    margin: 20px 0 20px 0 ;

}
 #container .grid-item p{
    font-size:50%;
    color:#060606;
    margin-bottom:60px;
}
 #container .row .content .grid-item h2{
    font-size:80%;
    margin:0;
}

 #container div.teal .grid-item p{
    color:#fff;
}
 #container .row .column p{
    font-size:130%;
}

/******** Page Navigation ********/

div.nav {
    background: rgba(0,0,0,.9);
    padding:30px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .4);
    position:fixed;
    width:100%;
    z-index: 3;

}
div.nav ul{
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.0277em;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin:10px 0 0 0 ;
    width:800px;
    float:right;
    padding:0;
}
div.nav ul li a{
    color:#fff;
    font-size:100%;
    margin-right:30px;

}




/********* IMAGES & VIDEO ********/

 div.hero-img{
    width:100%;
    height:300px;
    background-color:blue;
    border-radius:7px;
    position:relative;

}
 div.hero-img img{
        border-radius:7px;

}
 video.hero-video{
    width:550px;
}


/********  Start Remove ServiceNow UI Elements ***********/

div.cea0dcc050be432004ce28ffe15673a56, h2.widget-header, span.published, i.fa-calendar, span.views, span.str-rating, hr.kb-header-line, .vd3c2037fdbd51014bd74780a3296190e .kb-number-info{
    display:none;
}
.vd3c2037fdbd51014bd74780a3296190e .kb-desktop.kb-wrapper {
    padding:0;
}
main.padding-top{
    padding:0;
}

div.kb-panel-heading{
    border:0;
    padding-bottom:0;
    margin:0;
    display: none;
}
.vd3c2037fdbd51014bd74780a3296190e .kb-dropdown-button {
    height:10px;
    padding:0;
}
.kb-end-buttons {
    padding:0;

}

.container-fluid {
    margin:0;
    padding:0;
    }

/*End Remove ServiceNow Garbage UI Elements*/


